.review-main-container{
    display: flex;
    flex-direction: column;

}

.rating-sum-container {
    display: flex;
    flex-direction: row;
    width: 20%;
    margin-top: 25px;
    justify-content: space-between;
  }

  .indie-review-container {
    padding-top: 25px;


  }


  .review-list-container {
    width: 50%;
  }

  .name-p{
    font-size: 20px;
    font-weight: 350;
    margin-bottom: 10px;

  }
  .indie-review-container > .date {
    color:rgba(0, 0, 0, 0.5);

    font-size: 15px;

  }

  .review-cont{
    font-weight: 325;
    font-size: 15px;
    margin: 15px 0 10px;
  }

  .indie-review-container > button{
    padding: 5px;
    width: 15%;
    /* color: rgba(0, 0, 0, 0.5); */
    color:#ffffff;
    border: .9px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    box-shadow: 3px 3px 5px 5px rgb(231, 229, 229);
    background-color: rgb(204, 200, 200);
  }

  .rating-sum-container {
    margin-top:20px;
    margin-bottom: 35px;
  }

  .new-cont{
    margin-top: 15px;
    font-size: 20px;
  }
