.review-main-container{
    display: flex;
    flex-direction: column;

}

.rating-sum-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin-top: 15px;
    justify-content: space-between;
  }
