.signup-form-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
  }
  .su-label-cont{
    display: flex;
    flex-direction: column;

  }

  #modal-content {
    height: 500px;
    width: 400px;
  }

  .su-title-cont{
    align-self: center;
    font-size: 25px;
    /* bottom-border: */
  }

  .signup-form-main-container > form{
    height:100%;
  }

  .su-input-main-cont {
    height: 80%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width:300px;
  }
