.spl-main-cont {
    display: flex;
    justify-items: center;
    margin-top: 60px;
    /* margin:40px; */
}


.spot-tile {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    gap: 20px;
    font-size:14px;


  }


  .spots-main-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 30px;
    justify-content: center;

  }



.spot-tile .img {
    height:50%;
    width:100%;
    border-radius: 10px;
    border: 1px solid grey;
    object-fit: cover;

}



.city-stars {
    display: flex;
    justify-content: space-between;

}

.city-stars > div.rating{
    font-weight: bold;
}

.price{
    font-weight: 500;
}


.spot-tile:hover{
    cursor: pointer;

}

.tool-tip {
    visibility: hidden;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    z-index: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transform: translate(10px, 10px);
    box-shadow: 3px 3px 3px gray;
    font-size: 10px;
  }

.spot-tile:hover .tool-tip{
    visibility:visible;
    /* position:absolute;
    z-index: 3; */
}


.star-num-text{
        display: flex;
        flex-direction: row;
}
