.spl-main-cont {
    display: flex;
    /* align-items: center; */
    justify-items: center;
    margin:40px;
}

.spots-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}





.spot-tile .img {
    min-height: 80%;
    max-height: 80%;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
}



.city-stars {
    display: flex;
    justify-content: space-between;

}

.city-stars > div.rating{
    font-weight: bold;
}

.price{
    font-weight: 500;
}


.spot-tile:hover{
    cursor: pointer;

}

.tool-tip{
    visibility: hidden;
    border: 1px solid black;




}
.spot-tile:hover.tool-tip{
    display:block
}




.spots-main-container {
  display: grid;
  flex-wrap: wrap;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.spot-tile {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap:20px;


  }
