

.nav-container{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin-right: 0px;
    justify-content: space-between;
    margin:20px 20px 20px;
}

.header-container{
    align-self: flex-end;
}

.signin-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.logo{
    height: 100px;
    width: 20%;
    gap:40px
}

/* .logo > NavLink{
    width: 100%;
    color: red;

} */
